/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/vendor
.idea
.env*
.env.backup
.DS_Store
app.yaml*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
composer.lock
package-lock.json
yarn-error.log
/public/css
/public/js
/public/mix-manifest.json


